*{
	padding: 0;
	margin:	0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Poppins', sans-serif;
	list-style: none;
	text-decoration: none;
}

header{
	postition: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 33px 9%;
	background: transparent;
}

body{
	background: Linear-gradient(245.59deg, #3A3F49 0%, #202024 28.53%, #2B2B34  75.52%);
}

.container{
	width: 100%;
	height: 100%;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup{
	width: 670px;
	height: 370px;
	background: #FDFEFE;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,-50%) scale(0.1);
	text-align: center;
	padding: 15px 30px 30px;
	color: #333333;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}

.popup button{
	width: 30px;
	position:absolute; 
	top:0; 
	right:0;
	margin-top: 0px;
	padding: 5px 0;
	background: #FDFEFE;
	color: #3A3F49;
	border: 0;
	font-size:24px;
	border-radius: 4px;
	cursor: pointer;
	
}

.open-popup{
	visibility: visible;
	top: 50%;
	transform: translate(-50%,-50%) scale(1);
}

.logo{
	font-size:30px;
	font-weight:700;
	color: #FDFEFE;
}

.navlist{
	display: flex;
}

.navlist a{
	color: #FDFEFE;
	margin-left: 60px;
	font-size: 18px;
	font-weight: 400;
	border-bottom: 2px solid transparent;
	transition: all .55s ease;
}

.navlist a:hover{
	border-bottom: 2px solid #FDFEFE;
	transition: all .55s ease;
}

#menu-icon{
	color: #FDFEFE;
	font-size:35px;
	z-index: 10001;
	cursor: pointer; 
	display: none;
}

.preview{
	height: 100%;
	width:100%;
	min-height: 100vh;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
} 
 
.preview-text{
	color: #FDFEFE;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Poppins', sans-serif;
	
}  

.preview-text h5{
	color: #FDFEFE;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 40px;
}

.preview-text h1{
	color: #FDFEFE;
	font-size: 90px;
	line-height: 1;
	margin-bottom: 20px;
	margin: 0 0 45px;
}

.preview-text h4{
	color: #FDFEFE;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 40px;
	margin: 0 0 45px;
}

.preview-text p{
	color: #FDFEFE;
	font-size: 15px;
	line-height: 1.9;
	margin-bottom: 20px;
	font-weight: 500;
}

.preview-text a{
	display: inline-block;
	color: #FDFEFE;
	background: #000000;
	border: 1px solid transparent;
	padding: 12px 30px;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Poppins', sans-serif;
	line-height: 1.4;
	font-size: 14px;
	font-weight:500;
	border-radius: 30px;
	text-transform: uppercase;
	transition: all .55s ease;
}

.preview-text a:hover{
	display: inline-block;
	color: #FDFEFE;
	background: transparent;
	border: 1px solid #FDFEFE;
	transform: translateX(8px);
}

.preview-text a.ctaa{
	background: transparent;
	border: 1px solid #FDFEFE;
	margin-left: 20px;
	
}


.preview-text a.ctaa i{
	vertical-align: middle;
	margin-right: 5px;
}

.preview-img img{
	width: 100%;
	height: auto;
}

.icons{
	position: absolute;
	top: 50%;
	padding: 0 9%;
	transform: translateY(-50%);
}

.icons i{
	display: block;
	margin: 26px 0;
	font-size: 24px;
	color: #FDFEFE;
	transition: all .50s ease;
}


.icons i:hover{
	color: #FDFEFE;
	transform: translateY(-5px);
	
}

.scroll-down{
	position: absolute;
	bottom: 6%;
	right: 9%;
	
}

.scroll-down i{
	display: block;
	bottom: 12px;
	font-size: 25px;
	color: #FDFEFE;
	background: #000000;
	border-radius: 30px;
	transition: all .50s ease;
}


.scroll-down i:hover{
	transform: translateY(-5px);
}

section{
	padding: 0 19%;
	
}

@media (max-width: 1535px){
	header{
		padding: 15px 3%;
		transition: .2s;
	}
	.icons{
		padding: 0 3%;
		transition: .2s;
	}
	.scroll-down{
		right: 3%;
		transition: .2s;
	}
}

@media (max-width: 1460px){
		header{
			padding: 0 12%;
			transition: .2s;
	}
}

@media (max-width: 1340px){
		.preview-img img{
			width: 100%;
			height: auto;
		}
		.preview-text h1{
			font-size: 75px;
			margin: 0 0 30px;
		}
		.preview-text h5{
			margin-bottom: 25px;
			
		}
}
@media (max-width: 1195px){
		section{
			padding: 0 3%;
			transition: .2s;
		}
		.preview-text{
			padding-top: 115px;
			
		}
		.preview-img{
			text-align: center;
			
		}
		.preview-img img{
			width: 100%;
			height: auto;
		}
		.preview{
			height: 100%;
			gap: 1rem;
			grid-template-columns: 1fr; 
		}
		.icons{
			display: none;
		}
		.scroll-down{
			display: none;
		}
}
@media (max-width: 990px){
	.navlist{
		position: absolute;
		top: 0px;
		right: -50%;
		width: 170px;
		height: 35vh;
		background: #31313C;
		display:flex;
		align-items: center;
		flex-direction: column;
		padding: 40px 20px;
		transition: all .55s ease;
	}
	.navlist a{
		margin-left: 0;
		display:block;
		margin: 7px 0;
		text-align: center;
	}
	.navlist.open{
		right: 0;
	}
	#menu-icon{
		 display: block;
	}
}
@media (max-width: 680px){
		.preview-img img{
			width: 100%;
			height: auto;
		}
		
		.preview-text h1{
			font-size: 65px;
			margin: 0 0 30px;
		}
}
@media (max-width: 380px){
		.navlist{
			position: absolute;
			top: 0px;
			right: -50%;
			width: 155px;
			height: 35vh;
			background: #31313C;
			display:flex;
			align-items: center;
			flex-direction: column;
			padding: 20px 20px;
			transition: all .55s ease;
	}
	
		.preview-img img{
			width: 100%;
			height: auto;
		}
		
		.preview-text h1{
			font-size: 30px;
			margin: 0 0 20px;
		}
		
		.preview-text h4{
			color: #FDFEFE;
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 10px;
			margin: 0 0 20px;
		}

		.preview-text h5{
			color: #FDFEFE;
			font-size: 14px;
			font-weight: 600;
			margin-bottom: 20px;
		}

		.preview-text p{
			color: #FDFEFE;
			font-size: 15px;
			line-height: 1;
			margin-bottom: 20px;
			font-weight: 600;
		}
		
		.logo{
			font-size:20px;
			font-weight:600;
			color: #FDFEFE;
		}
		
		header {
			position: fixed;
			right: 0;
			top: 0;
			z-index: 1000;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 33px;
			background: transparent;
}
